<!DOCTYPE html>
<html
  lang="en"
  class="light-style customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="./assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Sign Up</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="./assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="./assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="./assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="./assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="./assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="./assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="./assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="./assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="./assets/js/config.js"></script>
  </head>

  <body>
    <div class="loading" id="customLoader"></div>
    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register Card -->
          <div class="card">
            <div class="card-body">
             
              <h4 class="mb-2">Create an account 🚀</h4>

              <form id="signup" class="mb-3" action="#" method="POST">
                <div class="mb-3">
                  <label for="signupUsername" class="form-label">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="signupUsername"
                    name="signupUsername"
                    placeholder="Enter your username"
                    autofocus
                  />
                </div>
                <div class="mb-3">
                  <label for="signupEmail" class="form-label">Email</label>
                  <input type="text" class="form-control" id="signupEmail" name="signupEmail" placeholder="Enter your email" />
                </div>
                <div class="mb-3 form-password-toggle">
                  <label class="form-label" for="signupPassword">Password</label>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="signupPassword"
                      class="form-control"
                      name="signupPassword"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>

                <div class="mb-3 form-password-toggle">
                    <label class="form-label" for="signupConfirmPassword">Confirm Password</label>
                    <div class="input-group input-group-merge">
                      <input
                        type="password"
                        id="signupConfirmPassword"
                        class="form-control"
                        name="signupConfirmPassword"
                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                        aria-describedby="password"
                      />
                      <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="signupCountryCode">Country Code</label>
                    <div class="input-group input-group-merge">
                        <input
                            type="text"
                            id="signupCountryCode"
                            class="form-control"
                            name="signupCountryCode"
                            placeholder="+1" 
                        />
                    </div>
                </div>


                  <div class="mb-3">
                    <label class="form-label" for="signupPhoneNumber">Phone Number</label>
                    <div class="input-group input-group-merge">
                       
                      <input
                        type="text"
                        id="signupPhoneNumber"
                        class="form-control"
                        name="signupPhoneNumber"
                        placeholder="Phone Number"
                      />
                    </div>
                  </div>
                <button class="btn btn-primary d-grid w-100"  type="button" onclick="submitSignup()">Sign up</button>
              </form>

              <p class="text-center">
                <span>Already have an account?</span>
                <a href="login.html">
                  <span>Sign in</span>
                </a>
              </p>
            </div>
          </div>
          <!-- Register Card -->
        </div>
      </div>
    </div>

   

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="./assets/vendor/libs/jquery/jquery.js"></script>
    <script src="./assets/vendor/libs/popper/popper.js"></script>
    <script src="./assets/vendor/js/bootstrap.js"></script>
    <script src="./assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="./assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="./assets/js/main.js"></script>

    <script>
        function submitSignup() {
            const username = document.getElementById("signupUsername").value;
            const email = document.getElementById("signupEmail").value;
            const password = document.getElementById("signupPassword").value;
            const confirm_password = document.getElementById("signupConfirmPassword").value;
            const country_code = document.getElementById("signupCountryCode").value;
            const phone_number = document.getElementById("signupPhoneNumber").value;

            const data = {
                username: username,
                email: email,
                password: password,
                confirm_password: confirm_password,
                country_code: country_code,
                phone_number: phone_number
            };

            $('div#customLoader').show();
            fetch('https://2bad-2605-a601-559b-1800-2dab-154a-c797-82cd.ngrok-free.app/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(responseData => {
                $('div#customLoader').hide();
                console.log('Signup Response:', responseData);

                // Check if signup was successful
                if (responseData.success) {
                    const user_id = responseData.user_id;

                    localStorage.setItem('user_id', user_id.toString());
                    // Redirect to user-info page
                    window.location.href = 'user-info.html';
                } else {
                    // Handle unsuccessful signup (e.g., display an error message)
                    alert('Signup failed. Please check your information.');
                }
            })
            .catch(error => {
                $('div#customLoader').hide();
                console.error('Error during signup:', error);
                // Handle errors (e.g., display an error message to the user)
            });
        }
    </script>


    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
