<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="./assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Submit Ratings Response</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="./assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="./assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="./assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="./assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="./assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="./assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="./assets/vendor/js/helpers.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="./assets/js/config.js"></script>
    <style>
        /* Custom CSS for fixing table header */
    .fixed-header {
      position: sticky;
      top: 0;
      background-color: #F2F2F2; /* Optional: Set your preferred background color */
      /* z-index: 1000; */
    }
    /* Additional CSS for the content */
   
    .thumbnail{
        width:50px;
        height: 50px;
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px;  /* Rounded border */
    }
    .button-row{
        /* margin-top: 30px; */
        margin-left: 20px;
        margin-bottom: 10px;
    }
.swal-footer{
    text-align: center;
}
.swal-footer .swal-button , .swal-button:not([disabled]):hover{
    background-color: #696cff;
}
.swal-button:focus{
box-shadow: none;
}

.radio{
    margin-top: 8px;
    cursor: pointer;
}


.full-size-image-container {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            justify-content: center;
            align-items: center;
        }

        .full-size-image-wrapper {
            position: relative;
        }

        .full-size-image {
            max-width: 90%;
            max-height: 90%;
        }

        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            color: #fff;
            font-size: 20px;
        }
    </style>
  </head>

  <body>

    
    <div class="loading" id="customLoader"></div>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
      
        <!-- Layout container -->
        <div class="layout-page">
        

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="card">
                <div class="row ">
                    <div class="col-md-12"> <h5 class="card-header">Recommended Products Based on Ratings</h5></div>
                </div>

                <div class="table-responsive text-nowrap scrollable-content">
                    <table class="table">
                      <thead class="fixed-header">
                          <tr class="table-info" >
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Rating</th>
                            <th>Brand</th>
                            <th>Title</th>
                            <th>Images</th>
                          </tr>
                      </thead>
                      <tbody class="table-border-bottom-0" id="dataContainer"></tbody>
                       
                    </table>

           
                    
                  </div>


    <div class="row mt-4 ms-2">
        <div class="mb-3 col-md-12">
          <h6 class="">Which product would you like to purchase?</h6>
            
          <div class="control-group" id="questionSection">
            <!-- Radio buttons will be dynamically added here -->
        </div>
    
        <div style="margin-top: 10px;">
            <hr>
            <div class="mt-2">
                <button onclick="submitSelection()" class="btn btn-primary me-2">Submit</button>          </div>
          
        </div>
    
    </div>
    </div>
       

                
              </div>
              
            </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="./assets/vendor/libs/jquery/jquery.js"></script>
    <script src="./assets/vendor/libs/popper/popper.js"></script>
    <script src="./assets/vendor/js/bootstrap.js"></script>
    <script src="./assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="./assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="./assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="./assets/js/pages-account-settings-account.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>

<script>
    // Function to display API response in HTML table
    function displayDataInTable(apiResponse) {
        // Check if the API response has the expected 'data' property
        if (!apiResponse || !apiResponse.data || !Array.isArray(apiResponse.data)) {
            console.error('Invalid API response format');
            return;
        }

        var tableHtml = '';

        apiResponse.data.forEach((item, index) => {
            tableHtml += '<tr>';
            // tableHtml += '<td>' + (index + 1) + '</td>'; // Add 1 to index to start from 1 instead of 0
            // tableHtml += '<td>' + item.product_id + '</td>';
            tableHtml += '<td>' + item.product_name + '</td>';
            tableHtml += '<td>' + item.price + '</td>';
            tableHtml += '<td>' + item.rating + '</td>';
            tableHtml += '<td>' + item.brand + '</td>';
            tableHtml += '<td>' + item.title + '</td>';
            // tableHtml += '<td>' + formatPoints(item.features) + '</td>';

            var imageUrl = item.images ? item.images[0] : '';
            tableHtml += '<td style="vertical-align: middle;"><img src="' + imageUrl + '" alt="Product Image" class="thumbnail" onclick="openFullSizeImage(\'' + imageUrl + '\')"></td>';

            tableHtml += '</tr>';
        });

        tableHtml += '</table>';

        // Display the table in a specific HTML element (e.g., with id 'tableContainer')
        document.getElementById('dataContainer').innerHTML = tableHtml;

        generateRadioButtons(apiResponse.data);
    }

    function generateRadioButtons(products) {
        var questionSection = document.getElementById('questionSection');
        questionSection.innerHTML = '';

        products.forEach((product, index) => {
            var label = document.createElement('label');
            label.className = 'radio';
            label.innerHTML = '<input  class="form-check-input" type="radio" name="user_choice" id="product_' + (index + 1) + '" value="' + (index + 1) + '" required> ' + product.product_name;
            questionSection.appendChild(label);
            questionSection.innerHTML += '<br>';
        });

        // Add an option for users who don't have a preference
        var noPreferenceLabel = document.createElement('label');
        noPreferenceLabel.className = 'radio';
        noPreferenceLabel.innerHTML = '<input  class="form-check-input" type="radio" name="user_choice" id="no_preference" value="no_preference" required> I don\'t have a preference.';
        questionSection.appendChild(noPreferenceLabel);
    }

    function formatPoints(points) {
        if (!points) {
            return '';
        }

        // Split the pipe-separated string into an array
        const pointsArray = points.split('|');

        // Create a list of points using list items
        const pointsHtml = '<ul>' +
            pointsArray.map(point => `<li>${point.trim()}</li>`).join('') +
            '</ul>';

        return pointsHtml;
    }


    // Function to open full-size image in a pop-up
    function openFullSizeImage(imageUrl) {
        const fullSizeImageContainer = document.createElement('div');
        fullSizeImageContainer.className = 'full-size-image-container';

        const fullSizeImageWrapper = document.createElement('div');
        fullSizeImageWrapper.className = 'full-size-image-wrapper';

        const fullSizeImage = document.createElement('img');
        fullSizeImage.className = 'full-size-image';
        fullSizeImage.src = imageUrl;
        fullSizeImage.alt = 'Full Size Image';

        const closeButton = document.createElement('span');
        closeButton.className = 'close-button';
        closeButton.innerHTML = '×';
        closeButton.onclick = function () {
            document.body.removeChild(fullSizeImageContainer);
        };

        fullSizeImageWrapper.appendChild(fullSizeImage);
        fullSizeImageWrapper.appendChild(closeButton);
        fullSizeImageContainer.appendChild(fullSizeImageWrapper);

        document.body.appendChild(fullSizeImageContainer);
    }

    document.addEventListener("DOMContentLoaded", function () {
        // Replace 'YOUR_API_ENDPOINT' with the actual endpoint URL
        const apiEndpoint = 'http://0.0.0.0:5000/recommended-products';

        // Replace 'USER_ID' with the actual user ID
        const userId = localStorage.getItem('user_id');

        // Prepare the data to be sent in the request body
        const requestData = {
            user_id: userId,
        };

        $('div#customLoader').show();

        // Make a POST request to the API endpoint
        fetch(apiEndpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(requestData),
        })
        .then(response => response.json())
        .then(data => {
            $('div#customLoader').hide();
            console.log('API Response:', data); // Log the response to inspect
            displayDataInTable(data);
        })
        .catch(error => {
            $('div#customLoader').hide();
            console.error('Error fetching data from the API:', error);
        });
    });

    function submitSelection(){
        // Get the selected value
        var selectedValue = document.querySelector('input[name="user_choice"]:checked');
        

        // Check if a value is selected
        if (selectedValue) {
          
            // Replace 'YOUR_API_ENDPOINT' with the actual endpoint URL for submitting the selection
            const submitEndpoint = 'http://0.0.0.0:5000/submit-selection';

            // Replace 'USER_ID' with the actual user ID
            const userId = localStorage.getItem('user_id');

            // Prepare the data to be sent in the request body
            const submitData = {
                user_id: userId,
                selected_product: selectedValue.value,
            };

            $('div#customLoader').show();

            // Make a POST request to the submit endpoint
            fetch(submitEndpoint, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(submitData),
            })
                .then(response => response.json())
                .then(data => {
                    $('div#customLoader').hide();
                    if (data.response) {
                        window.location.href = 'feedback.html';
                    }
                    // Handle the response as needed
                })
                .catch(error => console.error('Error submitting data:', error));
        } else {
            $('div#customLoader').hide();
            swal("Error!", "Please select a product before submitting!",'error');    
            return    
        }
    }
</script>



</html>
